---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
        <div class="grid col-span-2 row-span-2">
<video autoplay muted loop playsinline class="z-10 w-screen top-0 ">
    <source src="/Export.mp4" type="video/mp4" />
  </video>	
  </div>
  </main>
</Layout>