---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="relative flex justify-center items-center min-h-screen w-full">
    <div class="flex gap-8">
      <img class="h-20 w-auto object-contain" src="/portræt1.png" alt="Portræt 1" />
      <img class="h-20 w-auto object-contain" src="/portræt2.png" alt="Portræt 2" />
      <img class="h-20 w-auto object-contain" src="/portræt3.png" alt="Portræt 3" />
      <img class="h-20 w-auto object-contain" src="/portræt4.png" alt="Portræt 4" />
    </div>
  </main>
</Layout>