---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
<video autoplay muted loop playsinline class="z-10 w-screen top-0">
    <source src="/smallbutterfly.mp4" type="video/mp4" />
  </video>	
  </main>
</Layout>
