---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="h-screen flex justify-center items-center">
    <h2 class="text-white archivo-black-regular text-8xl">W.I.P</h2>
  </div>
</Layout>
